.StepButton-d2-0-2-8.active {
    background-color: #1BABDB!important;
}

.StepButton-d2-0-2-8.completed {
    background-color: #1BABDB!important
}

.StepButton-d6-0-2-18.active {
    background-color: #1BABDB!important
}

.StepButton-d6-0-2-18.completed {
    background-color: #1BABDB!important
}

.StepButton-d10-0-2-32.active {
    background-color: #1BABDB!important
}

.StepButton-d10-0-2-32.completed {
    background-color: #1BABDB!important
}